<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::Dn">
					<resource id="Dn_Testimonial::testimonial" title="Testimonial" sortOrder="40">
						<resource id="Dn_Testimonial::testimonial_manage" title="Depoimentos" sortOrder="10"/>
					</resource>
				</resource>
            </resource>
        </resources>
    </acl>
</config>
